* {box-sizing: border-box;}

body {
	font-family: Verdana, sans-serif;
}
*{
    padding: 0;
    margin: 0;
}
/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-position: center top;
	background-size: cover;
    text-align: center;
}
#game{
    width: 400px;
    height: 500px;
    border: 3px solid black;
    margin: auto;
    overflow: hidden;
    background-color: white;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 400px;
    left: 190px;
    z-index: 1000000;
}
.block{
    width: 400px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}
p{
    text-align: center;
}
h1{
    text-align: center;
}
body{
    background-position: center top;
	background-size: cover;
    background-image: url(images/falling/dark.jpg);
}
button{
    font-size: 2rem;
    padding: 0.5rem 2rem;
    border: 3px solid black;
    border-radius: 0.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 150px;
    border-radius: 25px;
    border: none;
    margin: 0 auto;
}
#btn:hover, #restart:hover{
    background-color: yellow; 
}
#btn:active, #restart:active{
    background-color: red;
}
#restart{
    background-color: orange;
    display: none;
}

