* {box-sizing: border-box;}

body {
	font-family: Verdana, sans-serif;
}
/*home section*/
.home-section{
	width: 100%;
	display: block;
	min-height: 100vh;
	background-image: url(images/jumping/background.jpg);
	background-position: center top;
	background-size: cover;
}
#gamejump{
    width: 500px;
    height: 200px;
    border: 1px solid white;
    margin: auto;
}
#characterjump{
    width: 20px;
    height: 50px;
    background-color: yellow;
    position: relative;
    top: 150px;
}
.animate{
    animation: jump 500ms;
}
@keyframes jump{
    0%{top: 150px;}
    30%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}
#blockjump{
    width: 20px;
    height: 20px;
    background-color: palegreen;
    position: relative;
    top: 130px;
    left: 480px;
    animation: block 1s infinite linear;
}
@keyframes block{
    0%{left: 480px;}
    100%{left:-40px;}
}
p{
    text-align: center;
    color: white;
}
h1{
    text-align: center;
    color: white;
}